body {
  background-color: rgb(31, 30, 30);
}

p,
.card pre {
  color: white;
}

p {
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  color: rgba(232, 102, 236, 1);
  text-align: center;
}
.card-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: inherit;
  padding: 20px;
  border-style: dashed;
  border-color: white;
  margin: 20px 20px 60px 20px;
}

.card p {
  color: rgba(232, 102, 236, 1);
  text-align: center;
  padding: 5px;
}

pre,
.card h1 {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  padding: 20px;
}

pre {
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );

  margin: 5px;
}

pre:hover {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgba(232, 102, 236, 1);
}

.card h1 {
  position: relative;
  margin-top: -20px;
  color: rgba(232, 102, 236, 1);
  border: 3px solid white;
  margin-top: -60px;
  background-color: rgb(31, 30, 30);
}

.footer h2 {
    text-align: center;
    color: rgba(232, 102, 236, 0.6)
}